{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Width of the page matches the device viewport-->
        <link rel="stylesheet" href="{% static 'css/BaseTemplate/header.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
        <!--import icons-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <title>{% block title %}My amazing site{% endblock  %}</title>
        <style>
            .logout{
                display: block;
                color: #ffffff;
                padding: 8px 16px;
                text-decoration: none;
                font-family: serif, Helvetica, sans-serif;
                font-size:1.3rem ;
                font-weight: bolder;
                margin-top: 1rem;
                margin-left: 1.7rem;
                padding: 3px 5px;
                background: none;
                cursor: pointer;
            }
        </style>
        {% block extra_head %}{% endblock %}
    </head>
    <body>
          <nav>
            <ul>
            <img src="/static/images/logo-removebg-preview.png">
            <li><a href="{% url 'storefront:home' %}" {% if active_class == 'home' %}class="active"{% endif %}>  Home</a></li>
            <li id="no-hover" style=" margin-bottom:0rem"><a>Categories</a></li>
            <ul style="color: rgb(255, 255, 255);">
                <li><a href="{% url 'products:search' %}?gender=M" {% if active_class == 'M' %}class="active"{% endif %}>Men</a></li>
                <li><a href="{% url 'products:search' %}?gender=W" {% if active_class == 'W' %}class="active"{% endif %}>Women</a></li>
                <li style="margin-bottom: 0.6rem;"><a href="{% url 'products:search' %}?gender=K" {% if active_class == 'K' %}class="active"{% endif %}>Kids</a></li>
            </ul>
            <li><a href="{% url 'cart:summary' %}" {% if active_class == 'cart' %}class="active"{% endif %}>My cart</a></li>
            <li><a href="{% url 'customer:customer_profile' %}" {% if active_class == 'wishlist' %}class="active"{% endif %}>Wishlist</a></li>
            <li><a href="{% url 'customer:customer_profile' %}" {% if active_class == 'account' %}class="active"{% endif %}>My account</a></li>
            <li><a href="{% url 'customer:customer_settings' %}" {% if active_class == 'settings' %}class="active"{% endif %}>Settings</a></li>
            <li><a {% if active_class == 'contactus' %}class="active"{% endif %} href="{% url 'storefront:contact' %}">Contact</a></li>
            <li><a {% if active_class == 'aboutus' %}class="active"{% endif %} href="{% url 'storefront:about' %}">About us</a></li>
            {% if user.is_authenticated %}
            <li>
            <form method="post" action="{% url 'customer:logout' %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="logout">Logout</button>
            </form>
            </li>
            {% else %}
            <li><a style="font-size: 1.3rem; margin-top:1.5rem;" {% if active_class == 'login' %}class="active"{% endif %} href="{% url 'core:login' %}">Log in</a></li>
            {% endif %}
            </ul>
          </nav>
        <div style="margin-left:17%; width: 83%;">
            <header class="shop-header"> <!--The class designs the nav bar-->

                <a class="shop-name" style="font-family: Georgia, 'Times New Roman', Times, serif" href="{% url 'storefront:home' %}">SHOEMAX</a>

                <div class="search-bar">
                    <form action="{% url 'products:search' %}" method="get">
                        <input type="text" name="q" placeholder="Search">
                    </form>
                    <i class="fas fa-search"></i> <!--search icon-->
                </div>

                <div class="icon-group">
                <a href="{% url 'customer:customer_profile' %}" class="icon"><i class="fas fa-user-circle"></i></a>
                <a href="{% url 'products:wishlist' %}" class="icon"><i class="far fa-heart"></i></a>
                <a href="{% url 'cart:summary' %}" class="icon cart-icon">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="cart-dot"></span> <!--To design the dot-->
                </a>
                </div>
            </header>
            <div style="padding-top: 60px;">
            {% block content %}
            {% endblock %}
            </div>
            <footer>
                <div class="footer-desc">
                    <h3>About ShoeMax</h3>
                    <p>At ShoeMax, we're passionate about helping you put your best foot forward. From timeless classics to the latest trends, we offer high-quality footwear for every walk of life. Whether you're running a marathon or stepping into a meeting, we've got the perfect pair for you. Comfort, style, and durability — that's the ShoeMax promise.</p>
                    <p style="font-size: 14px;"> &copy ShoeMax - 2025</p>
                </div>
                <div class="link" style="width:40%">
                    <h4 style="padding-left: 5rem;">Menu</h4>
                    <ul style="padding-left: 5rem; line-height: 1.8;">
                        <li><a href="{% url 'storefront:about' %}">About us</a></li>
                        <li><a href="{% url 'storefront:contact' %}">Contact us</li>
                    </ul>
                </div>

            </footer>
        </div>
    </body>
</html>