/*Main banner*/
.hero{
    height: 70vh;
    background: url("/static/images/storefront/hero.jpg") 
    no-repeat right center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #ffffff;
    padding: 4% 5%;
}

.hero-content{
    max-width: 500px;
    position: relative;
}
.hero h1 {
    font-size: clamp(1.9rem,4vw,3.8rem);
    font-weight: bolder;
    margin-bottom: 20px;
    font-family:Helvetica, sans-serif;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    text-shadow: -2px -2px 5px rgb(0, 0, 0);
}
.hero p{
    font-size: clamp(1.0rem,4vw,2.1rem);
    margin-bottom: 60px;
    line-height: 1.5;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    text-shadow: -2px -2px 5px rgb(0, 0, 0);
}
.cta-button{
    background-color: #ffffff;
    color: black;
    padding: 15px 30px;
    text-decoration: none;
    font-family:Helvetica, sans-serif;
    font-weight:bolder;
    font-size: clamo(1.0rem,4vw,2.0rem);
    border-radius: 6px;
    box-shadow: 5px 5px 10px #000000;
    display: inline-block;
    margin-top: 15px;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;

}

.cta-button:hover{
    background-color: #000000;
    color:white ;
    transform: scale(1.2,1.2);
}
/*2 banners*/
.banner{
    color: white;
    display: flex ;
    flex-wrap: wrap;
}
.left,.right{
    position: relative;
    width: 50%;
}
.left-image,.right-image{
    width: 100%;
    height: auto;
    display: block;
}
.innerleft,.innerright{
    width: 100%;
    position: absolute;
    bottom: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}
.innerleft > *,.innerright >*{
    margin: 0;
}
.banner h1,.banner p,.banner h2{
    text-shadow:2px 2px 5px #000000;
    text-shadow:-2px -2px 5px #000000 ;
}
.banner h1{
    font-family: Helvetica, sans-serif;
    font-size: clamp(1.2rem,4vw,2.5rem);
}
.banner p{
    font-size: clamp(0.6rem,4vw,1.7rem);
}
.banner h2{
    font-family: Helvetica, sans-serif;
    font-size: clamp(0.8rem,4vw,2.1rem);
}
.banner .cta-button{
    padding: 12px 24px;
    font-size: (0.8rem,4vw,1.7rem);
    margin-top: 15px;
}

/*Shop by gender*/
.genderclass{
    display: flex;
    justify-content: flex-start;
    gap: 0.8rem;
    padding: 0 3.5rem;
}
.genderclass img{
    max-width: 100%;
    height: auto;
    display: block;
}
.innergender{
    position: relative;
    height: auto; 
    max-width: 450px;
    width: 100%;
    flex: 1 1 300px;
}
.innergender .cta-button{
    position: absolute;
    background-color: #ffffff;
    color: black;
    padding: 12px 24px;
    text-decoration: none;
    font-family:Helvetica, sans-serif;
    font-weight:bolder;
    font-size: (0.8rem,4vw,1.7rem);
    border-radius: 20px;
    box-shadow: 2px 2px 5px #000000;
    display: inline;
    bottom:5%;
    left:9%;
}
.innergender .cta-button:hover{
    background-color: #000000;
    color:white ;
}
/*Categories*/
.subtitle{
    font-size: 2.8rem;
    font-family: "Playfair Display", serif;
    font-weight: bolder;
    padding-left: 13%;
    padding-top: 4%;
}
.category{
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding: 1rem;
}
.category img{
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    transition: transform 0.3s ease;
}
.category img:hover{
    transform: scale(1.1,1.1);
}
.category>div{ 
    max-width: 380px;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 120px;
}
.category div>h1{
    position: absolute;
    top:72%;
    left:5%;
    font-size: clamp(0.2rem,4vw,1.7rem);
    color: rgb(0, 0, 0);
    font-weight: bolder;
    margin: 0;
    font-family: Helvetica, sans-serif;
}
.category div>p{
    position: absolute;
    top:82%;
    left:2%;
    font-size: clamp(0.2rem,4vw,1.3rem);
    font-family: serif;
}
.stretched-link {
  position: absolute;
  inset: 0; /* shorthand for top: 0; bottom: 0; left: 0; right: 0; stretch the link around the div */
  z-index: 10; /*puts the link on top of the image*/ 
}
.category-box:hover {
  box-shadow:
    0 0 15px 5px rgba(255, 255, 200, 0.6), /* warm light glow */
    2px 2px 10px rgba(0, 0, 0, 0.4);       /* soft shadow for depth */
  transition: box-shadow 0.4s ease;
}

#animationDiv{
    display: inline-block;
    width: 50%;
    height: auto;
    position: relative;
}
#animation{
    width: 100%;
    height: auto;
}
#animationDiv h2{
    right: -75%;
    position: absolute;
    top:15%;
    font-family:"Playfair Display", serif;
    font-weight: 800;
    font-style: italic;
    font-size: 3rem;
    width:100%;
    color:#202020;
    animation: zoom-in-out 3.05s infinite;
}

#animationDiv h2 #animationTitle {
  font-size: 3.5rem; 
  color: rgb(0, 0, 0);
}

@keyframes zoom-in-out {
    0%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}