{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'css/forgot.css' %}">
                            <!-- header imports -->
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <!--import icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!--import font-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="shop-header"> <!--The class designs the nav bar-->
        <div class="menu-icon">
            <a href="/">
                <i class="fas fa-home"></i> <!--The specific icon for menu-->
            </a>
            
        </div>

        <div class="shop-name">SHOEMAX</div>

        <div class="search-bar"></div> <!--  will not be visible -->
    </header>
    <div class="container">
        <div class="information-input">
            <div class="email-box">
                <div class="email-label">
                    <h2 class="reset-text">Reset Your Password</h2>
                </div>
            <div class="email-input-box">
                    <h2>Password reset complete</h2>
                    <p>Your password has been updated. You can now <a href="{% url 'login' %}">log in</a>.</p>
            </div>      
        </div>
        </div>
    </div>
</body>