{% extends "BaseTemplate/nav.html" %}
{% load static %}

{% block title %}Shoemax - Shop by Category{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/homepage/category.css' %}">
{% endblock %}

{% block content %}
<h1 class="title">Check out our latest {{ category|capfirst }}!</h1>

{% if shoes %}
  <div class="container">
    {% for shoe in shoes %}
      <div class="shoebox">
        <img src="{{ shoe.image_url.url }}" alt="{{ shoe.name }}" class="image">
        <div style="padding: 1rem;">
          <h2 class="name">{{ shoe.name }}</h2>
          <h3 class="price">Rs {{ shoe.price }}</h3>
          <a class="detailbtn" href="{% url 'products:product_details' shoe.shoe_id %}">View Details</a>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <br><br>
  <h2 class="unavailable">No products available in this category at the moment.</h2>
{% endif %}
{% endblock %}
