
/*checkout*/
body{
 display: flex; 
 justify-content:space-between;
 font-family: Arial, sans-serif;
 background: #f4f6f8;
 align-items: center;
 height: 100vh;
 margin: 0;
}

/* checkout */
.checkout {
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 350px;
}

.checkout h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #2c3e50;
}

.checkout .shipping-add {
  text-align: center;
  margin-bottom: 20px;
  color: #2c3e50;
}
.checkout .payment-method {
  text-align: center;
  margin-bottom: 20px;
  color: #2c3e50;
}

.checkout h4 {
  text-align: center;
  margin-bottom: 20px;
  color: #2c3e50;
}
.cart ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.cart input[type="checkbox"] {
  transform: scale(1.2);
  margin-right: 5px;
}

.cart select {
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.order-summary {
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 350px;
}
.subtotal {
  color: #e74c3c;
}

.subtotal {
  border-top: 2px solid #2c3e50;
  font-weight: bold;
  font-size: 16px;
  color: #2c3e50;
}

.discount {
  color: #e74c3c;
}

.discount {
  border-top: 2px solid #2c3e50;
  font-weight: bold;
  font-size: 16px;
  color: #2c3e50;
}
.shipping-fee{
  color: #e74c3c;
}

.shipping-fee {
  border-top: 2px solid #2c3e50;
  font-weight: bold;
  font-size: 16px;
  color: #2c3e50;
}

.total {
  color: #e74c3c;
}

.total {
  border-top: 2px solid #2c3e50;
  font-weight: bold;
  font-size: 16px;
  color: #2c3e50;
}

/* submit  button */
.submit-btn {
  width: 100%;
  margin-top: 20px;
  background: #27ae60;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.submit-btn:hover {
  background: #2ecc71;
}