{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'css/forgot.css' %}">
                            <!-- header imports -->
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <!--import icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!--import font-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="shop-header"> <!--The class designs the nav bar-->
        <div class="menu-icon">
            <i class="fas fa-bars"></i> <!--The specific icon for menu-->
        </div>

        <div class="shop-name">SHOP NAME</div>

        <div class="search-bar">
            <input type="text" placeholder="Search">
            <i class="fas fa-search"></i> <!--search icon-->
        </div>

        <!-- removed div class icon-group  -->

    </header>
    <div class="container">
        <div class="information-input">
            <div class="email-box">
                <div class="email-label">
                    <h2 class="reset-text">Reset Your Password</h2>
                </div>
            <div class="email-input-box">
                <div class="email-input">
                    <form method="POST" novalidate>
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="email-label">Email</div>
                            <!-- {{ form.email.label_tag }} -->
                            {{ form.email }}
                        </div>
                        <br>
                        <br>
                        {% if form.errors %}
                            <div class="form-errors">
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}

                        
                        <div class="submit-button-box">
                            <button type="submit" class="submit-button">Reset</button>
                        </div>
                        
                    </form>
                </div>
                
            </div>
            
        </div>
        </div>
    </div>
</body>