{% extends "customer/base.html" %}

{% block content %}
<h1>Settings</h1>

<div class="profile-section">
    <h2>Account Settings</h2>
    <form>
        <label>Preferred Language:
            <select>
                <option selected>English</option>
                <option>French</option>
                <option>Spanish</option>
            </select>
        </label><br><br>

        <label>Currency:
            <select>
                <option selected>MUR</option>
                <option>USD</option>
                <option>EUR</option>
            </select>
        </label>
    </form>
</div>

<div class="profile-section">
    <h2>Privacy & Security</h2>
    <form>
        <label><input type="checkbox" checked> Enable two-factor authentication</label><br>
        <label><input type="checkbox"> Log out from other devices</label><br>
        <label><input type="checkbox" checked> Receive newsletters</label><br>
        <button type="submit" class="btn">Save Settings</button>
    </form>
</div>
{% endblock %}
