{% extends 'base.html'%}
{%load static%}
{%block title%}Checkout{%endblock%}
{%block content %}
<link rel="stylesheet" href="css/checkout.css">
 <body >
       
      <div class="checkout">
          <!-- to the left of the page-->
           <h3 >Checkout</h3>
           <p class="shipping-add">Shipping address</p><!-- Place to ship which can be changed -->
          <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
           <h4 class="payment-me">Payment Method</h4>
        </div>

        <div class="order-summary"> 
          <!-- to the right of the page-->
           <h5>Order Summary</h5>
           <p class="subtotal">Item(s) Total</p>
            <!-- to add the total amount before discount -->
           <p class="discount">Item(s) Discount</p>
            <!-- discount amount -->
            <hr><p class="shipping-fee">Shipping Fee</p> <!-- shipping fee depending place -->
            <hr><p class="total">Total</p>
            <!-- total after discount -->
             <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <button class="submit-btn">Submit orders</button>

    </body>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
{%endblock%}