/*checkout*/
body{
   margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  display: flex;
  gap: 20px;
  padding: 20px;
}

/* checkout */
.checkout {
  flex:2;
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 350px;
}

.checkout h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #2c3e50;
}

.checkout .shipping-add {
  text-align: center;
  margin-bottom: 20px;
  color: #2c3e50;
}
.checkout .payment-method {
  text-align: center;
  margin-bottom: 20px;
  color: #2c3e50;
}

.checkout h4 {
  text-align: center;
  margin-bottom: 20px;
  color: #2c3e50;
}

.order-summary {
  flex:1;
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 350px;
}
.order-summary .subtotal {
  color: #e74c3c;
}

.order-summary .subtotal {
  border-top: 2px solid #2c3e50;
  font-weight: bold;
  font-size: 16px;
  color: #2c3e50;
}

.order-summary .discount {
  color: #e74c3c;
}

.order-summary .discount {
  border-top: 2px solid #2c3e50;
  font-weight: bold;
  font-size: 16px;
  color: #2c3e50;
}

.order-summary .shipping-fee {
  color: #e74c3c;
}

.order-summary .shipping-fee {
  border-top: 2px solid #2c3e50;
  font-weight: bold;
  font-size: 16px;
  color: #2c3e50;
}

.order-summary .total {
  color: #e74c3c;
}

.order-summary .total {
  border-top: 2px solid #2c3e50;
  font-weight: bold;
  font-size: 16px;
  color: #2c3e50;
}

/* submit  button */
.submit-btn {
  width: 100%;
  margin-top: 20px;
  background: #27ae60;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.submit-btn:hover {
  background: #2ecc71;
}
