body{
    background: linear-gradient(to bottom, rgb(231, 230, 230), rgb(86, 85, 85)); 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}
.title{
    margin-left: 6rem; 
    font-weight: bolder; 
    text-shadow: 0px 2px 5px #838282;
}
.container{
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap; 
    gap: 1.5rem;
}
.shoebox{
    border: 1px solid #000000; 
    border-radius: 20px; 
    padding: 0rem; 
    width: 280px; 
    height: auto; 
    background-color: #76a4c6a7; 
    overflow: hidden;
    transition: transform 0.3s ease;
}
.shoebox:hover{
    transform: scale(1.02);
}
.image{
    width: 100%; 
    height: 250px; 
    object-fit: cover;
}
.name{
    margin-top: 0; 
    margin-bottom: 0.2rem; 
    font-family: Arial, Helvetica, sans-serif;
}
.price{
    margin-top: 0; 
    font-size: 1.2rem; 
    margin-bottom: 0
}
.detailbtn{
    margin-top: 0; 
    margin-left:8rem;
    background-color: #ffffff;
    color: black; 
    padding: 4px 8px; 
    text-decoration: none; 
    font-family:Helvetica, sans-serif; 
    font-weight:bolder; 
    border-radius: 8px;
    transition: background-color 0.3s ease, border 0.3s ease;
}
.detailbtn:hover{
    border:#000000 2px solid;
    background-color: #838282;
}
.unavailable{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 4rem;
    width: 30%;
}