body{
    background: #dbdedf;
}
.shop-header {
  display: flex; /*to control the position of items inside horizontally and vertically*/
  align-items: center; /* Vertically centers items within the header */
  justify-content: space-between; /* Places first and last items at edges, with space in between */
  background-color: #000;
  color: white; /*for icons and text*/
  padding: 10px 20px; /*space btw border and items inside*/
}

.menu-icon i {
  font-size: 20px;
  cursor: pointer; /*changes the mouse cursor to a hand icon when you hover over it*/
}

.shop-name {
  font-size: 3.5rem;
  font-weight: bolder;
  margin-left: 15px;
}

.search-bar { /*Search bar*/
  display: flex;
  align-items: center;
  background-color: #333;
  border-radius: 20px;
  padding: 5px 10px;
  width: 200px;
}

.search-bar input { /*Text inside*/
  background: none;
  border: none;
  outline: none;
  color: white;
  width: 100%;
  padding: 5px;
}

.search-bar i { /*Magnifying glass search icon*/
  color: #ccc;
  margin-left: 5px;
}

.icon-group {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon i { /*having the class icon + <i /i>*/
  font-size: 22px;
  color: white;
}

.cart-icon {
  position: relative; /*Works together with absolute, it makes the
                        cart the parent where the child(absolute) can
                        design a dot on it*/
}

.cart-dot {
  position: absolute; /*The child*/
  top: 0;
  right: -5px;
  background-color: #9ACD32;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}
