{% extends 'adminpanel/base.html' %}
{% block content %}
<h2>All Customers</h2>
<table class="admin-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Registered</th>
        </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
        <tr>
            <td>{{ customer.id }}</td>
            <td>{{ customer.user.username }}</td>
            <td>{{ customer.user.email }}</td>
            <td>{{ customer.phone }}</td>
            <td>{{ customer.user.date_joined|date:"Y-m-d" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
