{% extends "BaseTemplate/base.html" %}
{% load static %}
{% block title %}Contact Us - ShoeMax{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/storefront/contact.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="contact-page">
        <div class="container">
        <div class="one">
            <div class="contact-us-text">Contact Us!</div>
            <br>
            <div class="onepic"></div>
        </div>
        <div class="two">
            <div class="twodiv">
                <div class="twoform">
                    {% if messages %}
                        <ul>
                            {% for message in messages|slice:"-1:" %}
                                {% if "contactSuccess" in message.tags %}
                                    <li>{{ message }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <form method="post">
                        {% csrf_token %}
                        <div class="inputtext">
                            <label class="label">First name </label>
                            <input class="textbox" type="text" name="fname" id="fname" value="{{ fname|default:'' }}" >
                        </div>
                        <div class="inputtext">
                            <label class="label">Last name </label>
                            <input class="textbox" type="text" name="lname" id="lname" value="{{ lname|default:'' }}" >
                        </div>
                        <div class="inputtext">
                            <label class="label">Email </label>
                            <input class="textbox" type="email" name="email" id="email" value="{{ email|default:'' }}" >
                        </div>
                        <div class="inputtext">
                            <label class="label">Phone Number </label>
                            <input class="textbox" type="tel" name="telnum" id="telnum" value="{{ telnum|default:'' }}" >
                        </div>
                        <div  class="inputtext">
                            <label class="label">Message </label>
                            <textarea type="textarea" name="message" id="message" class="textarea" >{{ message|default:'' }}</textarea>
                        </div>
                        <div class="button-div">
                            <button class="button" type="submit" name="submit" id="submit" >Submit</button>
                            <button class="button" type="reset" onclick="window.location.reload()" >Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}