
.about-box{
    display: flex;
    justify-content:center ;
    align-items: center;

    background-color: rgba(0, 255, 255, 0);
    height: 48vh; /* reduced height */
    width: 100%;

    border-radius: 20px;

    background-image: url('../images/img1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-box-text{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.85);
    height: 70%;
    width: 85%;

    border-radius: 20px;
}

/* Scope headings to the about page to avoid global selector conflicts */
.about-page h1{
    font-size: 48px; /* reduced */
    margin: 0.25rem 0;
}

.about-page h2{
    font-size: 22px;
    margin: 0.5rem 0;
}

.about-page p{
    font-size: 18px;
}

.about-para-box{
    display: flex;
    justify-content:center ;
    align-items: center;

    background-color: rgba(255, 0, 0, 0);
    height: 50vh; /* reduced */
    width: 100%;

    border-radius: 20px;
    margin-top: 1rem;

    background-image: url('../images/img2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-para-box-text{
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;

    background-color: rgba(3, 150, 194, 0.45);
    height: 90%;
    width: 85%;

    text-align: center;

    border-radius: 20px;
}

.mission-box{
    display: flex;
    justify-content:center ;
    align-items: center;

    background-color: rgba(98, 0, 255, 0);
    height: 44vh;
    width: 100%;

    border-radius: 20px;
    margin-top: 1rem;

    background-image: url('../images/img3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.mission{
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;

    background-color: rgba(140, 255, 39, 0.45);
    height: 90%;
    width: 85%;

    text-align: center;

    border-radius: 20px;
}

.different-box{
    display: flex;
    justify-content:center ;
    align-items: center;

    background-color: rgba(13, 104, 86, 0);
    height: 44vh;
    width: 100%;

    border-radius: 20px;
    margin-top: 1rem;

    background-image: url('../images/img4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.different{
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;

    background-color: rgba(255, 238, 85, 0.45);
    height: 90%;
    width: 85%;

    text-align: center;

    border-radius: 20px;
}

.vision-box{
    display: flex;
    justify-content:center ;
    align-items: center;

    background-color: rgba(107, 65, 65, 0);
    height: 44vh;
    width: 100%;

    border-radius: 20px;
    /* margin-top: 1%; */

    background-image: url('../images/img7.jpg');
    background-size: cover;
    background-repeat: repeat-x;
    background-position: center;

}

.vision{
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;

    background-color: rgba(255, 94, 94, 0.32);
    height: 90%;
    width: 85%;

    text-align: center;

    border-radius: 20px;

}