.contact-page .contact-us-text {
    color: rgb(0, 0, 0);
    font-size: 4rem;
    font-weight: 900;
    padding-top: 5%;
}

/* Layout wrapper scoped to contact page only */
.contact-page .container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    background-color: bisque;
    width: 100vw;
    height: 100vh;
}

.contact-page .one {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.573);
    width:50%;
}

.contact-page .onepic {
    background-color: rgb(255, 255, 255);
    width:75%;
    height: 75%;
    border-radius: 25px;

    background-image: url('../images/img4.jpg');
    background-size: cover;
    background-position: 50%;
}

.contact-page .two {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(255, 255, 255);
    width:100%;
}

.contact-page .twodiv{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(218, 250, 255);
    width:95%;
    height: 95%;
    border-radius: 25px;
}

.contact-page .twoform{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;

    border-radius: 25px;
    background-image: url('../images/img2.jpg');
    background-size: cover;
    background-blend-mode: luminosity;
    background-color: rgba(255, 0, 0, 0);

    width:85%;
    height: 90%;
}

.contact-page .inputtext{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-top: 5%;

    width:50vw;
    height: 15%;

    margin: 1%;
    background-color: rgba(255, 0, 0, 0);

}

.contact-page .textbox{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 0.5rem;
}

.contact-page .textarea{
    resize: vertical;
    width: 100%;
    min-height: 120px;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.contact-page .label{
    font-size: larger;
    font-weight: 600;
    color: rgb(0, 0, 0);
    width: 200%;

}

.contact-page .button {
    width: 120px;
    height:40px;
    border-radius: 30px;
    margin-top: 5%;
    font-weight: 900;
    font-size: 100%;

    background-color:rgba(245, 222, 179, 0) ;
    color: rgb(255, 255, 255);
    
    justify-content: center;
    justify-self: center;
    align-self: center;
}

.contact-page .button:hover {
    background-color: black;
    color: aquamarine;
}

.contact-page .button-div {
    display: flex;
    justify-content: space-evenly;
}

